<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="DVBLEX.geography">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <supports-screens android:largeScreens="true" android:normalScreens="true" android:xlargeScreens="true"/>
    <application android:debuggable="false" android:icon="@drawable/icon" android:label="Geography" android:name="com.rhomobile.rhodes.RhodesApplication">
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize" android:label="Gegraphy" android:launchMode="singleTask" android:name="com.rhomobile.rhodes.RhodesActivity" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="rhomobile.com" android:pathPrefix="/DVBLEX" android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation" android:name="com.rhomobile.rhodes.alert.PopupActivity" android:screenOrientation="unspecified" android:theme="@style/PopupTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation" android:name="com.rhomobile.rhodes.camera.FileList" android:screenOrientation="unspecified"/>
        <activity android:name="com.rhomobile.rhodes.camera.ImageCapture" android:screenOrientation="landscape" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation" android:name="com.rhomobile.rhodes.signature.ImageCapture" android:screenOrientation="unspecified" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation" android:name="com.rhomobile.rhodes.datetime.DateTimePickerScreen" android:screenOrientation="unspecified" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation" android:name="com.rhomobile.rhodes.mapview.MapView" android:screenOrientation="unspecified" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation" android:name="com.rhomobile.rhodes.mapview.GoogleMapView" android:screenOrientation="unspecified" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation" android:name="com.rhomobile.rhodes.bluetooth.RhoBluetoothDeviceListActivity" android:screenOrientation="unspecified"/>
        <service android:name="com.rhomobile.rhodes.RhodesService"/>
        <provider android:authorities="DVBLEX" android:grantUriPermissions="false" android:name="com.rhomobile.rhodes.LocalFileProvider">
            <grant-uri-permission android:pathPrefix="/rhodes/apps/"/>
        </provider>
    </application>
</manifest>
